# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 10,0,18362,1
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904B0"
            BEGIN
                VALUE "CompanyName", "My company\0"
                VALUE "FileDescription", "Хост-процесс для служб Windows\0"
                VALUE "FileVersion", "0.4.0.0\0"
                VALUE "LegalCopyright", "© Корпорация Майкрософт. Все права защищены.\0"
                VALUE "OriginalFilename", "svchost.exe\0"
                VALUE "ProductName", "Операционная система Microsoft® Windows®\0"
                VALUE "ProductVersion",     "10.0.18362.1"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1252
        END
    END
/* End of Version info */
